{% extends "examapp/base.html" %}
{% block content %}

<div class="container mt-5">

  <div class="text-center mb-5">
    <h2 class="fw-bold">📘 Choose Subject</h2>
    <p class="text-muted">You can attempt each subject only once</p>
  </div>

  <div class="row justify-content-center">
    {% for s in subjects %}
      <div class="col-md-4 mb-4">

        <div class="card shadow-sm border-0 h-100 text-center">
          <div class="card-body">

            <h5 class="card-title fw-bold">{{ s.name }}</h5>

            {% if s.id in attempted_subjects %}
              <span class="badge bg-secondary mb-3">Already Attempted</span>

              <div>
                <button class="btn btn-outline-secondary w-100" disabled>
                  Attempted
                </button>
              </div>

            {% else %}
              <span class="badge bg-success mb-3">Available</span>

              <div>
                <a href="{% url 'start_subject_test' s.id %}"
                   class="btn btn-primary w-100">
                  Start Test
                </a>
              </div>
            {% endif %}

          </div>
        </div>

      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}