{% extends 'base.html' %}
{% block content %}

<h3>Edit Question</h3>

<form method="post">
{% csrf_token %}

<div class="mb-3">
  <input class="form-control" name="qno" value="{{ question.qno }}">
</div>

<div class="mb-3">
  <input class="form-control" name="question_text" value="{{ question.question_text }}">
</div>

<div class="mb-3">
  <select class="form-select" name="subject">
    {% for s in subjects %}
      <option value="{{ s.id }}"
        {% if s == question.subject %}selected{% endif %}>
        {{ s.name }}
      </option>
    {% endfor %}
  </select>
</div>

<label class="fw-bold">Options</label>

{% for opt in question.options.all %}
  <div class="input-group mb-2">
    <div class="input-group-text">
      <input type="radio"
             name="correct"
             value="{{ forloop.counter0 }}"
             {% if opt.is_correct %}checked{% endif %}>
    </div>
    <input class="form-control" name="option" value="{{ opt.text }}">
  </div>
{% endfor %}

<button class="btn btn-warning">Update</button>
<a href="{% url 'question_list' %}" class="btn btn-secondary">Cancel</a>

</form>

{% endblock %}
