{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-between mb-3">
  <h3>Questions</h3>
  <a class="btn btn-success" href="{% url 'add_question' %}">Add Question</a>
</div>

<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Question</th>
      <th>Subject</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {% for q in questions %}
    <tr>
      <td>{{ q.qno }}</td>
      <td>{{ q.question_text }}</td>
      <td>{{ q.subject.name }}</td>
      <td>
        <a class="btn btn-sm btn-warning" href="{% url 'edit_question' q.id %}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url 'delete_question' q.id %}">Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
