{% extends 'base.html' %}
{% block content %}

<h3>Edit Profile</h3>

<form method="post">
{% csrf_token %}

<div class="mb-3">
  <label class="form-label">Username</label>
  <input class="form-control"
         name="username"
         value="{{ student.user.username }}">
</div>

<div class="mb-3">
  <label class="form-label">Email</label>
  <input class="form-control"
         type="email"
         name="email"
         value="{{ student.user.email }}">
</div>

<div class="mb-3">
  <label class="form-label">Mobile</label>
  <input class="form-control"
         name="mobile"
         value="{{ student.mobile }}">
</div>

<button class="btn btn-success">Save Changes</button>
<a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>

</form>

{% endblock %}
